{{#each books}}
<img src="{{this.volumeInfo.imageLinks.smallThumbnail}}" height="100" />
title: {{this.volumeInfo.title}}<br>
authors: {{this.volumeInfo.authors}}<br>

<!-- TODO: hide this when not logged in -->
<form action="/books/my-books" method="POST">
    <input type="hidden" name="bookId" value="{{this.id}}">
    <button>Add to my books</button>
</form>

{{/each}}