<h2>Contact Us</h2>

<form action='/thanks-page' method='POST'>
    <label>
        Name:
        <input type='text' name='name' />
    </label>
    <label>
        Email:
        <input type='text' name='email' />
    </label>
    <label>
        Reason for contacting:
        <input type='text' name='contact' />
    </label>
    <button type='submit'>Send</button>
</form>