<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<form action="/book-search" method="GET">
<label for="searchTerm">Search:</label>
<input type="searchTerm" name="searchTerm" id="searchTerm">
<button>Submit</button>
</form>

<div>
    {{#if userInSession}}
    <a href="/Profile">Profile</a> <br>
    <form action="/logout" method="POST">
        <button> Logout </button>
        </form> 
    {{else}}
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    {{/if}}
</div>