<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<form action="/book-search" method="GET">
<label for="searchTerm">Search:</label>
<input type="searchTerm" name="searchTerm" id="searchTerm">
<button>Submit</button>
</form>

<div>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
</div>