<form action="/book-search" method="GET">
<label for="searchTerm">Search:</label>
<input type="searchTerm" name="searchTerm" id="searchTerm">
<button>Submit</button>
</form>

<div>
   
    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
</div>