<form action='/books/all-books' method='GET'>
    <label for='searchTerm'>Search:</label>
    <input type='searchTerm' name='searchTerm' id='searchTerm' />
    <button>Submit</button>
</form>

{{#if errorMessage}}
    <div class='alert alert-danger'>{{errorMessage}}</div>
{{/if}}

<div id='signup' hidden>
    <h3>Sign up</h3>
    <form action='/auth/signup' method='POST'>
        <label>
            Username
            <input type='text' name='username' />
        </label>
        <label>
            Email
            <input type='text' name='email' />
        </label>
        <label>
            Password
            <input type='password' name='password' />
        </label>

        <button type='submit'>Submit</button>
    </form>
    <a href='#' onclick='switchForm(event)'>Login</a>
</div>

<div id='login'>
    <h3>Login</h3>
    <form action='/auth/login' method='POST'>
        <label>
            Username
            <input type='text' name='username' />
        </label>
        <label>
            Password
            <input type='password' name='password' />
        </label>

        <button type='submit'>Submit</button>
    </form>
    <a href='#' onclick='switchForm(event)'>Signup</a>
</div>

{{! <form action="/auth/signup" method="POST">
  <div class="row mb-3" >
    <label for="inputEmail3" class="col-sm col-form-label">Email</label>
    <div class="col-sm">
      <input type="email" class="form-control" id="inputEmail3">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputPassword3" class="col-sm col-form-label">Password</label>
    <div class="col-sm">
      <input type="password" class="form-control" id="inputPassword3">
    </div>
  </div>
  
  
  <button type="submit" class="btn btn-primary">Sign in</button>
</form> }}