<form action='/books/searched-book' method='GET'>
    <label for='searchTerm'></label>
<div class="input-group">
  <input type="searchTerm" class="form-control rounded" placeholder="Search for a book" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">search</button>
</div>
</form>

{{#if errorMessage}}
    <div class='alert alert-danger'>{{errorMessage}}</div>
{{/if}}


<div id='signup' hidden>
    <h3>Sign up</h3>
    <form action='/auth/signup' method='POST'>
        <label>
            Username
            <input type='text' name='username' />
        </label>
        <label>
            Email
            <input type='text' name='email' />
        </label>
        <label>
            Password
            <input type='password' name='password' />
        </label>

        <button type='submit'>Submit</button>
    </form>
    <a href='#' onclick='switchForm(event)'>Login</a>
</div>

<div id='login'>
    <h3>Login</h3>
    <form action='/auth/login' method='POST'>
        <label>
            Username
            <input type='text' name='username' />
        </label>
        <label>
            Password
            <input type='password' name='password' />
        </label>

        <button type='submit'>Submit</button>
    </form>
    <a href='#' onclick='switchForm(event)'>Signup</a>
</div>



