<h2>My Bookclubs</h2>
<form action="create-bookclub" method="GET">
<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#create-bookclub">
    Create a Bookclub
</button>
</form>

{{#each bookclubs}}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <a href="/bookclub/{{id}}" class="btn btn-primary">View</a>
    </div>
</div>
{{/each}}