body {
    padding: 50px;
    font: 14px Georgia, 'Times New Roman', Times, serif;
}

a {
    color: #00b7ff;
}

h1 {
    color: 15px;
}

#signup {
    position: absolute;
    top: 1px;
    left: 610px;
    top: 16px;
}

#login {
    position: absolute;
    /* top: 1px; */
    left: 810px;
    top: 16px;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 157, 157);
    position: absolute;
    left: -57px;
    top: 1px;
    font-size: medium;
}

#h3Signup {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 157, 157);
    position: absolute;
    left: -70px;
    font-size: medium;
}

#aLogin {
    position: absolute;
    top: 1px;
    left: -462px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: rgb(158, 157, 157);
}

#aSignup {
    position: absolute;
    top: 1px;
    left: -265px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(158, 157, 157);
    font-size: 15px;
}

#welcome {
    color: black;
}

#username {
    color: white;
}

#password {
    color: white;
}

#email {
    color: white;
}
